.card:hover {
    box-shadow: 1px 5px 5px rgba(40, 12, 51, 0.493);
    border: 1px solid slategray;
    transition: all .4s ease;
    transform: translateY(-5px);
}

.iconeimage {
    border-radius: 50%;
    padding: 30px;
    background: #eae6e5;
}