<html><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<body>
<nav class="navbar navbar-expand-md navbar-light">
    <button class="navbar-toggler ml-auto mb-2 bg-light" type="button" data-toggle="collapse" data-target="#dashboardNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse show" id="dashboardNavbar">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-2 col-lg-3 col-md-4 sidebar fixed-top h-100">

                    <div class="bottom-border pb-3  mx-auto text-center text-white">
                        <img src="C:\Users\Suresh\Downloads\3.jpg" alt="profilePic" Width="100" class="rounded-circle text-center mr-3 m-5" />
                        <p>Patient</p>
                        <p class="text-white">Patient Name</p>
                    </div>
                    <ul class="navbar-nav flex-column mt-4">
                        <li class="nav-item">
                            <a href="#" class="nav-link text-white p-3 mb-2 sidebar-link">
                                <i class="fa fa-home text-white fa-lg mr-3"></i>Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link text-white p-3 mb-2 active sidebar-link">
                                <i class="fa fa-user-md text-white fa-lg mr-3"></i>Doctor Assigned
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link text-white p-3 mb-2 sidebar-link">
                                <i class="fa fa-users text-white fa-lg mr-3"></i>Invoice Download
                            </a>
                        </li>

                    </ul>

                </div>
                <div class="col-xl-10 col-lg-9 col-md-8 fixed-top py-2 top-navbar ml-auto bg-dark">
                    <div class="row align-items-center">
                        <!--titles-->
                        <div class="col-md-8">
                            <h4 class="text-light text-uppercase mb-0">Hospital Management System</h4>
                        </div>

                        <div class="col-md-4">
                            <ul class="navbar-nav">
                                <li class="nav-item ml-md-auto">
                                    <a href="#" class="nav-link" data-toggle="modal" data-target="#logout">
                                        <button class="btn btn-primary text-white">Logout<i class="fa fa-sign-out text-danger fa-lg" aria-hidden="true"></i></button>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</nav>

    

<div class="container-fluid">
    <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
        <div class="row pt-md-5 mt-md-3 mb-5">
        <div class="row mb-4">
            <div class="col-12">
                <h4 class="text-dark font-bold text-center mb-3">APPOINTMENT STATUS</h4>
                <table class="table table-striped table-bordered text-center position:text-center">
                    <thead class="bg-info">
                        <tr>
                            <th>Name</th>
                            <th>Symtoms</th>
                            <th>Mobile</th>
                            <th>Address</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>John</td>
                            <td>AllergistsImmunologists</td>
                            <td>9672181024</td>
                            <td>abcd</td>
                            <td><button type="button" class="btn btn-primary btn-sm">Approved</button></td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>

</body>
</html>

