<app-navigation></app-navigation>
<html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />

<body>
    <div class="row pt-md-5 mt-md-3 mb-5" style="margin-left: 316px">
        <div class="invoice-box">
            <table cellpadding="0" cellspacing="0">
                <tr class="top">
                    <td colspan="2">
                        <table>
                            <tr>
                                <td class="title">HOSPITAL MANAGEMENT</td>

                                <td>
                                    Invoice #: 123<br /> Admit Date: Jan 1, 2022<br /> Release Date: Jan 3, 2022<br /> Days Spent: 2
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr class="information">
                    <td colspan="2">
                        <table>
                            <tr>
                                <td>
                                    Patient Name: abc<br /> Ph: +91 00000 XXXXX<br /> Chennai
                                </td>

                                <td>
                                    Doctor Name : <br /> John Doe
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr class="heading">
                    <td>Disease and Symptoms</td>
                </tr>

                <tr class="details">
                    <td>Cough, cold</td>
                </tr>

                <tr class="heading">
                    <td>Item</td>

                    <td>Price</td>
                </tr>

                <tr class="item">
                    <td>Room Charge</td>

                    <td>Rs.5000.00</td>
                </tr>

                <tr class="item">
                    <td>Doctor Fee</td>

                    <td>Rs.500.00</td>
                </tr>

                <tr class="item last">
                    <td>Medicine Fee</td>

                    <td>Rs.2000.00</td>
                </tr>
                <tr class="item last">
                    <td>Other Fees</td>

                    <td>Rs.500.00</td>
                </tr>

                <tr class="total">
                    <td></td>

                    <td>Total: Rs.8000.00</td>
                </tr>
            </table>
            <button type="button" class="btn btn-primary btn-sm">Download</button>
        </div>
    </div>
</body>

</html>