<app-navbar></app-navbar>
<section class="" style="background-color: #eee">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">
                  Sign up as Admin
                </p>

                <form class="mx-1 mx-md-4" #Registerform="ngForm" class="form-group" (ngSubmit)="registerAdmin()">
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" name="usn" id="form3Example1c" class="form-control"
                        [(ngModel)]="admin.userName" #username="ngModel" required
                        [class.is-invalid]="username.invalid && username.touched" />
                      <small class="text-danger" [class.d-none]="username.valid || username.untouched">username is
                        required field, Password length should be min 8 or max16 </small>
                      <label class="form-label" for="usn">Username
                      </label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="email" name="email" id="email" class="form-control" [(ngModel)]="admin.emailId"
                        required pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" #email="ngModel"
                        [class.is-invalid]="email.invalid && email.touched">
                      <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email Id is required
                        field</small>
                      <label class="form-label" for="email">Your Email</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="password" id="pwd" name="password" class="form-control" [(ngModel)]="admin.password"
                        #password="ngModel" required [class.is-invalid]="password.invalid && password.touched" />
                      <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is
                        required field, Password length should be min 8 or max16 </small>
                      <label class="form-label" for="pwd">Password</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="password" id="cpwd" name="cpwd" class="form-control" (ngModel)="admin.password"
                        #cpwd="ngModel" required [class.is-invalid]="cpwd.invalid && cpwd.touched" />
                      <small class="text-danger"
                        [class.d-none]="(cpwd.value == password.value) || cpwd.untouched">Password and confirm password
                        should be same </small>
                      <label class="form-label" for="cpwd">Confirm your password</label>
                    </div>
                  </div>

                  <div class="form-check d-flex justify-content-center mb-5">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
                    <label class="form-check-label" for="form2Example3">
                      I agree all statements in
                      <a href="#!">Terms of service</a>
                    </label>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="submit" class="btn btn-primary btn-lg">
                      Register
                    </button>
                  </div>
                </form>
              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                <img src="../../../../../assets/admin.jpg" class="img-fluid" alt="Sample image" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>