<nav class="navbar navbar-expand-md navbar-light">
    <button class="navbar-toggler ml-auto mb-2 bg-light" type="button" data-toggle="collapse" data-target="#dashboardNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse show" id="dashboardNavbar">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-2 col-lg-3 col-md-4 sidebar fixed-top h-100">

                    <div class="bottom-border pb-3  mx-auto text-center text-white">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPbhkqoFA9Rxi5_jQ-2AI3IMzXfVnUvwC7Qg&usqp=CAU" alt="profilePic" Width="100" class="rounded-circle text-center mr-3 m-5" />
                        <p>Admin</p>
                        <p class="text-white">Admin Name</p>
                    </div>
                    <ul class="navbar-nav flex-column mt-4">
                        <li class="nav-item">
                            <a routerLink="/dashboard" routerLinkActive="active" class="nav-link text-white p-3 mb-2 active sidebar-link">
                                <i class="fa fa-home text-white fa-lg mr-3"></i>Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/doctor" routerLinkActive="active" class="nav-link text-white p-3 mb-2 sidebar-link">
                                <i class="fa fa-user-md text-white fa-lg mr-3"></i>Doctor
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/patient" routerLinkActive="active" class="nav-link text-white p-3 mb-2 sidebar-link">
                                <i class="fa fa-users text-white fa-lg mr-3"></i>Patient
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/appointment" routerLinkActive="active" class="nav-link text-white p-3 mb-2 sidebar-link">
                                <i class="fa fa-file-text-o text-white fa-lg mr-3"></i>Appointment
                            </a>
                        </li>
                    </ul>

                </div>
                <div class="col-xl-10 col-lg-9 col-md-8 fixed-top py-2 top-navbar ml-auto bg-dark">
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <h4 class="text-light text-uppercase mb-0">Hospital Management System</h4>
                        </div>

                        <div class="col-md-4">
                            <ul class="navbar-nav">
                                <li class="nav-item ml-md-auto">
                                    <a href="#" class="nav-link" data-toggle="modal" data-target="#logout">
                                        <button class="btn btn-primary text-white">Logout<i class="fa fa-sign-out text-danger fa-lg" aria-hidden="true"></i></button>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</nav>
