<app-navbar></app-navbar>
<header>
    <!-- Intro settings -->
    <style>
        /* Default height for small devices */
        
        #intro-example {
            height: 400px;
        }
        /* Height for devices larger than 992px */
        
        @media (min-width: 992px) {
            #intro-example {
                height: 434px;
            }
        }
    </style>
    <div id="intro-example" class="p-5 text-center bg-image" style="
      background-image: url('https://i.postimg.cc/BQ6jW0JJ/2005-i602-021-liposuction.jpg');
    ">
        <div class="mask">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white" style="margin-top: 19px">
                    <h1 class="mb-3" style="color: black">Welcome To HMS</h1>
                    <h5 class="mb-4" style="color: black">Your Health Our Duty</h5>
                    <a class="btn btn-outline-dark btn-lg m-2" href="#" role="button" rel="nofollow" target="_blank">Our Services</a
          >
          <a
            class="btn btn-outline-dark btn-lg m-2"
            href=""
            target="_blank"
            role="button"
            >About Us</a
          >
        </div>
      </div>
    </div>
  </div>
</header>
<section>
  <div>
    <app-about-us></app-about-us>
  </div>
</section>