<app-navbar></app-navbar>
<div class="col d-flex justify-content-center mt-10" style="margin-top: 50px">
    <div class="card" style="width: 18rem; margin-right: 20px" align=" center ">
        <img class="card-img-top" src="../../../../assets/admin4.jpg" alt="Card image cap " />
        <div class="card-body">
            <h5 class="card-title">Sign up</h5>
            <p class="card-text">
                If You donot have account!! <br /> Create the account by clicking down
            </p>
            <a routerLink="/asingup" class="btn btn-primary">Signup</a>
        </div>
    </div>
    <div class="card ml10" style="width: 18rem" align=" center ">
        <img class="card-img-top" src="../../../../assets/admin3.jpg " alt="Card image cap " />
        <div class="card-body">
            <h5 class="card-title">Login</h5>
            <p class="card-text">If you all ready have an account then click below</p>
            <a routerLink="/adminlogin" class="btn btn-primary">Login</a>
        </div>
    </div>
</div>