

<!--Section -->
<section  style="background-color: #eee;">
    <div class="container  py-3 text-dark">
        <div class="row d-flex justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-6">
                <!--Card-->
                <div class="card" style="border-radius:20px; background-color: white;" >
                    <div class="card-body p-4">
                        <div class="d-flex flex-start w-100">
                            <img class="rounded-circle shadow-1-strong me-3"
                                src="../../../../../assets/vectorman2.jpg" alt="avatar"
                                width="65" height="65" />
                            <div class="w-100" >
                                <h5 style="text-align: center;">Your Feedback  </h5>

                                <form>
                                    <!--Rating-->
                                    <div class="rating">

                                        <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                                        <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                                        <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                                        <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                                        <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                                    </div>

                                    <!--d_name-->
                                <div class="form-outline mb-4">
                                  <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
                                  <label class="form-label" for="form3Example1cg">Doctor Name  </label>
                                </div>
                                    <!--p_id-->
                                <div class="form-outline mb-4">
                                    <input type="number" id="form3Example1cg" class="form-control form-control-lg" />
                                    <label class="form-label" for="form3Example1cg">Patient Id </label>
                                </div>
                                    <!---_name-->
                                 <div class="form-outline mb-4">
                                    <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
                                    <label class="form-label" for="form3Example1cg">Patient Name  </label>
                                 </div>
                                  <!--p_comments-->
                                <div class="form-outline">
                                    <textarea class="form-control" id="textAreaExample" rows="4"></textarea>
                                    <label class="form-label" for="textAreaExample">What is your view?</label>
                                </div>
                                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4"  >
                                    <!--Button -->
                                    <button type="button" class="btn btn-primary">
                                        Send
                                    </button>
                                </div>
                               </form>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>