<div class="container-fluid d-flex flex-column" style="background-color: #eee;">
    <div class="row align-items-center justify-content-center
        min-vh-100 g-0">
      <div class="col-12 col-md-8 col-lg-4 ">
        <div class="card shadow-sm" style="border-radius: 15px;">
          <div class="card-body">
            <div class="mb-4">
              <h4 style="text-align: center;">Forgot Password?</h4>
              <p class="mb-2">Enter your registered email ID and new  password
              </p>
            </div>
            <form>
              <div class="mb-4">
                
                <input type="email" id="email" class="form-control" name="email" placeholder=""
                  required="">
                  <label for="email" class="form-label">Email</label> 
              </div>
              <div class="mb-4">
                
                <input type="password" id="email" class="form-control" name="password" placeholder=""
                  required="">
                  <label for="password" class="form-label">New Password </label>
              </div>

              <div class="mb-4">
                
                <input type="password" id="email" class="form-control" name="cpassword" placeholder=""
                  required="">
                  <label for="cpassword" class="form-label">Confirm New Password </label>
              </div>
              <div class="mb-4 d-grid">
                <button type="submit" class="btn btn-primary">
                  Reset Password
                </button>
              </div>
              <span>Don't have an account? <a href="sign-in.html">sign in</a></span>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>