<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

<body>
    <div class="container">
        <h1>Our Services</h1>
        <div class="row">
            <div class="service">
                <i class="fas fa-ambulance"></i>
                <h2>24*7 Ambulance provided</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, quae?
                </p>
            </div>
            <div class="service">
                <i class="fas fa-chart-line"></i>
                <h2>Emergency room services.</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, quae?
                </p>
            </div>
            <div class="service">
                <i class="fab fa-sketch"></i>
                <h2>X-ray/radiology Services</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, quae?
                </p>
            </div>
            <div class="service">
                <i class="fas fa-database"></i>
                <h2>Data Analysis</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, quae?
                </p>
            </div>
            <div class="service">
                <i class="fas fa-file-invoice"></i>
                <h2>Blood services</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, quae?
                </p>
            </div>
            <div class="service">
                <i class="fas fa-file-invoice"></i>
                <h2>Laboratory services</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, quae?
                </p>
            </div>
            <div class="service">
                <i class="fas fa-money-check-alt"></i>
                <h2>General and specialty surgical services</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, quae?
                </p>
            </div>
            <div class="service">
                <i class="fas fa-network-wired"></i>
                <h2>Taking Feedback</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, quae?
                </p>
            </div>
        </div>
    </div>
</body>
<app-portfolio></app-portfolio>