<div>
    <div class="container py-4">
        <div class="row h-40 align-items-center py-4">
            <div class="col-lg-6">
                <h1 class="display-5">AboutUs</h1>
                <p class="lead text-muted mr-5 font-italic" style="text-align: justify;">We treat patients with atmost care and help them to recover.Our goal is to make access to high-quality medical care affordable for everyone.</p>
                <br>
                <a href=" # " class="btn btn-primary px-4 rounded-pill shadow-sm ">Learn More</a>
            </div>
            <div class="col-lg-6 d-none d-lg-block p-4"><img src="https://st2.depositphotos.com/1229718/10818/i/950/depositphotos_108187772-stock-photo-medical-office-management.jpg " alt=" " class="img-fluid rounded-circle " height=70%></div>
        </div>
    </div>
</div>

<div class="bg-white py-5 ">
    <div class="container py-5 ">
        <div class="row align-items-center mb-5 ">
            <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2 ">
                <img src="https://bootstrapious.com/i/snippets/sn-about/img-1.jpg " alt=" " class="img-fluid mb-4 mb-lg-0 ">
            </div>
            <div class="col-lg-6 order-2 order-lg-1 "><i class="fa fa-bar-chart fa-2x mb-3 text-primary "></i>

                <h1 class="display-5 ">Our Service</h1>
                <p class="font-italic text-muted mb-4 lead " style="text-align: justify; ">The persistent efforts of our hospital over the past 25 years have raised the standard of health care in the area for both urban and rural residents.With a primary focus on patient care, patient safety, and patient happiness, we are dedicated
                    to providing exceptional medical services that go above and beyond the norm of care.For the sake of humanity, we are dedicated to achieving and maintaining excellence in research, and healthcare.We have solemnly committed to working
                    tirelessly for our patients to improve their health that is the essence of health care. We are grateful to our physicians, nurses, and other members of the team who face daily challenges in reanimation.Time is life, and "Our Life is
                    our Life 's Work" are clearly our beliefs.</p>
                <a href="#" class="btn btn-primary px-4 rounded-pill shadow-sm">Follow us on</a>

                <img style="margin:10px" src="https://cdn3.iconfinder.com/data/icons/capsocial-round/500/facebook-512.png" width=25px height=25px>
                <img src="https://play-lh.googleusercontent.com/wIf3HtczQDjHzHuu7vezhqNs0zXAG85F7VmP7nhsTxO3OHegrVXlqIh_DWBYi86FTIGk" width=25px height=25px><br>

            </div>

        </div>

    </div>
</div>
