<div class="container">
    <h1>Our Gallery</h1>

    <div class="row text-center text-lg-start">
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../../../../assets/1.jpg" alt="" />
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../../../../assets/11.jpg" alt="" />
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6" height="20%">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../../../../assets/12.jpg" alt="" />
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../../../../assets/14.jpg" alt="" />
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../../../../assets/15.png" alt="" />
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../../../../assets/3.jpg" alt="" />
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../../../../assets/4.jpg" alt="" />
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../../../../assets/5.jpg" alt="" />
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../../../../assets/6.jpg" alt="" />
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../../../../assets/7.jpg" alt="" />
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../../../../assets/8.jpg" alt="" />
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="../../../../../assets/13.jpg" alt="" />
            </a>
        </div>
    </div>
</div>
<app-testimonials></app-testimonials>