<section class="vh" style="color: #000; background-color: #f3f2f2;">
    <div class="container py-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-10 col-xl-8 text-center">
                <h3 class="fw-bold mb-4">Testimonials</h3>
                <p class="mb-4 pb-2 mb-md-5 pb-md-0">
                    LMS Hospital Medical Center regularly receives letters of thanks from former patients or their
                    family members for the high level of care we provide throughout our facility. Below are just a few
                    examples of the nice messages we have received. For privacy purposes, we only included the first
                    names of the authors.
                </p>
            </div>
        </div>





        <div class="row text-center">

            <div class="col-md-4 mb-4 mb-md-0">
                <div class="card">
                    <div class="card-body py-4 mt-2">
                        <div class="d-flex justify-content-center mb-4">
                            <img src="../../../../assets/man1.jpg" class="rounded-circle shadow-1-strong" width="100"
                                height="100" />
                        </div>
                        <h5 class="font-weight-bold">Rabi Roy </h5>
                        <h6 class="font-weight-bold my-3">Cured Eye Surgery </h6>
                        <ul class="list-unstyled d-flex justify-content-center">
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                        </ul>
                        <p class="mb-2">
                            <i class="fa fa-quote-left pe-2"> </i>On behalf of my wife, who was a patient in your
                            hospital, I humbly submit my sincere gratitude to the management and staff of Jamaica
                            Hospital, especially to your outstanding nurses and PCAs. They have been outstandingly
                            helpful and provided a high quality of service, care and comfort to my wife. Thank you.
                        </p>
                    </div>
                </div>
            </div>




            <div class="col-md-4 mb-4 mb-md-0">
                <div class="card">
                    <div class="card-body py-4 mt-2">
                        <div class="d-flex justify-content-center mb-4">
                            <img src="../../../../assets/vectorman1.jpg" class="rounded-circle shadow-1-strong"
                                width="100" height="100" />
                        </div>
                        <h5 class="font-weight-bold">Amit Singha</h5>
                        <h6 class="font-weight-bold my-3">Kindney Transfer</h6>
                        <ul class="list-unstyled d-flex justify-content-center">
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                        </ul>
                        <p class="mb-2">
                            <i class="fa fa-quote-left pe-2"> </i>I am writing to express my gratitude from my family
                            for the care given to my mother. In the SICU, there was care, compassion, and respect. A
                            special thank you to your social workers as well; they provided professional guidance,
                            comfort, and strength to make our own decisions.
                            All our hope that you continue
                            along this path.
                        </p>
                    </div>
                </div>
            </div>


            <div class="col-md-4 mb-0">
                <div class="card">
                    <div class="card-body py-4 mt-2">
                        <div class="d-flex justify-content-center mb-4">
                            <img src="../../../../assets/woman1.jpg" class="rounded-circle shadow-1-strong" width="100"
                                height="100" />
                        </div>
                        <h5 class="font-weight-bold">Tarani Ghosh</h5>
                        <h6 class="font-weight-bold my-3">Heart Diease</h6>
                        <ul class="list-unstyled d-flex justify-content-center">
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>

                                <i class="fa fa-star"></i>
                            </li>

                        </ul>
                        <p class="mb-2">
                            <i class="fa fa-quote-left pe-2"> </i>I was recently cared for at LMS following
                            a heart attack while at JFK. I just wanted to say a few words about the exceptional care I
                            received in the Jamaica Hospital Cardiac Care Unit and the MICU. All of the doctors and
                            nurses were friendly, pleasant, kind, thorough, conscientious and professional. I am happy
                            to have been in their care.
                    </div>
                </div>
            </div>

            



        </div>


    </div>


</section>