<div id="navBar">
    <ul>
        <li><a routerLink="/patientchoose">Feedback</a></li>
        <li><a routerLink="/patientchoose">Patient</a></li>
        <li><a routerLink="/doctorchoose">Doctor</a></li>
        <li><a routerLink="/adminchoose">Admin</a></li>
        <li>
            <a routerLink="">Contact</a>
        </li>
        <li><a routerLink="">About</a></li>
        <li><a routerLink="">Home</a></li>
        <li style="float: left">
            <img src="../../../../assets/logo.png" alt="" class="logo" />
        </li>
    </ul>
</div>