img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
footer{
  text-align:center;
  width: 100%;
  background-color: rgb(151, 132, 238);
  color: white;
  font-weight: bold;
}
body {
    background-image: linear-gradient(270deg, #ddc7dd 0%, #c6ecef 100%);;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  div.content{
    align-items: center;
    display: flex;
     justify-content: center;
  }
  
  .contact-form-wrapper {
    padding: 50px 0;
  }
  
  .contact-form {
    padding: 30px 40px;
    background-color: #ffffff;
    border-radius: 12px;
    background-color: transparent;
    box-shadow:0 0 8px 3px #ede1fb;
    border:2px solid #ddc7f7;
      }

/*@import url('https://fonts.googleapis.com/css2?family=Combo&display=swap');*/
div.footer{
   padding: 10px;
   background-color:black;
   color: white;
   text-align: center;
   font-family: 'Combo', cursive;
}
#input {
  border-radius: 4px;
  background-color: #f23292;
  color: white;
  text-transform: uppercase;
  padding: 5px 60px;
  font-weight: 500;
}

div.footer{
    padding: 10px;
    position:fixed; 
    bottom:0;
}
  
 
 