<html><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<body>
<h2 style="text-align:center ;   padding-top: 100px;
padding-right: 30px;
padding-bottom: 0px;
padding-left: 150px;">Doctor Profile </h2>
  
<div class="card">

    <h2>Dr. John Doe</h2>
    <p>MBBS </p>
    <p>Hospital name</p>
    <p class="title">Contact</p>
    <p>+91 00000 XXXXX</p>
    <p class="title">Speciality</p>
    <p>Cardiology</p>
    <p class="title">Experience</p>
    <p>20 Years+</p>
    <p class="title">Salary</p>
    <p>7 LPA</p>

  </div>
</body>
</html>