<div class="container">
    <h1>Our Happy Client</h1>
</div>
<div class="container mt-5 mb-5">
    <div class="row g-2">
        <div class="col-md-4">
            <div class="card p-3 text-center px-4">
                <div class="user-image">
                    <img src="https://i.imgur.com/PKHvlRS.jpg" class="rounded-circle" width="80" />
                </div>

                <div class="user-content">
                    <h5 class="mb-0">Bruce Hardy</h5>
                    <span>Patient</span>
                    <p>
                        It has been a great experience with Dr.shubham(Dietician).She had helped me with the Diet plan.She is very good dietician.Thanks to Dr.Karan Kumar & his team
                    </p>
                </div>

                <div class="ratings">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card p-3 text-center px-4">
                <div class="user-image">
                    <img src="https://i.imgur.com/w2CKRB9.jpg" class="rounded-circle" width="80" />
                </div>

                <div class="user-content">
                    <h5 class="mb-0">Mark Smith</h5>
                    <span>Patient</span>
                    <p>
                        It was very positive experience since admission till discharge. I really appreciate all the doctors and nursing staff for their commitment.
                    </p>
                </div>

                <div class="ratings">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card p-3 text-center px-4">
                <div class="user-image">
                    <img src="https://i.imgur.com/ACeArwY.jpg" class="rounded-circle" width="80" />
                </div>

                <div class="user-content">
                    <h5 class="mb-0">Veera Duncan</h5>
                    <span>Patient</span>
                    <p>
                        I really appreciate all the doctors and nursing staff for their commitment.Hospital is maintained good. Thanks to Dr.Mallikarjuna & his team.
                    </p>
                </div>

                <div class="ratings">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<app-contact-us></app-contact-us>