<section class="about" id="about">
    <div class="container">
        <h1>About Us</h1>
        <div class="heading text-center">
            <!-- <h2>About <span>Us</span></h2> -->
            <p>
                We treat patients with atmost care and help them to recover.Our goal is to make access to high-quality medical care affordable for everyone.
            </p>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <img src="../../../../../assets/2.jpg" alt="about" class="img-fluid" width="100%" />
            </div>
            <div class="col-lg-6">
                <!-- <h3>Why choose Us?</h3> -->
                <p>
                    H.M.S Hospital is a multi-specialty hospital offering best-in-class medical services. With paramount focus on patient care, patient safety and patient satisfaction, we are committed to offer exemplary medical services going beyond the norm of healthcare.Keeping
                    with our vision, as an institution, we believe in empathy, human care, medical expertise and being social conscious.We are also offering hope and healing.
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <h4><i class="far fa-star"></i>Treatments</h4>
                    </div>
                    <div class="col-md-6">
                        <h4><i class="far fa-star"></i>Facilities- 24*7,ambulence</h4>
                    </div>
                    <div class="col-md-6">
                        <h4><i class="far fa-star"></i>Diagnostic Service</h4>
                    </div>
                    <div class="col-md-6">
                        <h4><i class="far fa-star"></i>Empathetic Care</h4>
                    </div>
                    <div class="col-md-6">
                        <h4><i class="far fa-star"></i>Real Accountability</h4>
                    </div>
                    <div class="col-md-6">
                        <h4><i class="far fa-star"></i> Real Accountability</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-services></app-services>